# Functions for interacting with data files and `exdf` objects
export(batch_get_genotype_info_from_licor_filename)
export(batch_get_oxygen_info_from_preamble)
export(batch_pair_licor_and_tdl)
export(check_licor_data)
export(choose_input_files)
export(choose_input_licor_files)
export(choose_input_tdl_files)
export(document_variables)
export(factorize_id_column)
export(identify_tdl_cycles)
export(organize_response_curve_data)
export(process_id_columns)
export(process_tdl_cycle_erml)
export(read_licor_file)
export(read_tdl_file)
export(remove_points)
export(set_variable)
export(smooth_tdl_data)

# Functions for scientific analysis
export(basic_stats)
export(calculate_ball_berry_index)
export(calculate_cc)
export(calculate_fprime)
export(calculate_gas_properties)
export(calculate_gm_ubierna)
export(calculate_g_ratio)
export(calculate_iwue)
export(dpmn_error_jrv)
export(dpmn_error_jrvtt)
export(dpmn_error_jrv_tau)
export(dpmn_error_jrv_tpu)
export(fit_ball_berry)
export(fit_c3_aci)
export(fit_c3_vcmax)
export(fit_c4_aci)
export(fit_variable_j)
export(photosynthesis_TRF)

# Basic methods for `exdf` class
export(as.data.frame.exdf)
export(by.exdf)
export(cbind.exdf)
export(dim.exdf)
export(dimnames.exdf)
export(exdf)
export(is.exdf)
export(length.exdf)
export(print.exdf)
export(rbind.exdf)
export(split.exdf)
export(str.exdf)
export(`dimnames<-.exdf`)
export(`[.exdf`)
export(`[<-.exdf`)
S3method(as.data.frame, exdf)
S3method(by, exdf)
S3method(cbind, exdf)
S3method(dim, exdf)
S3method(dimnames, exdf)
S3method(length, exdf)
S3method(print, exdf)
S3method(rbind, exdf)
S3method(split, exdf)
S3method(str, exdf)
S3method(`dimnames<-`, exdf)
S3method(`[<-`, exdf)
S3method(`[`, exdf)

# Convenience functions for identifying common columns
export(identify_common_columns)
export(identify_common_columns.data.frame)
export(identify_common_columns.exdf)
S3method(identify_common_columns, data.frame)
S3method(identify_common_columns, exdf)

# Convenience functions for consolidating nested lists
export(consolidate)
export(consolidate.data.frame)
export(consolidate.exdf)
S3method(consolidate, data.frame)
S3method(consolidate, exdf)

# Functions for excluding outliers
export(exclude_outliers)
export(exclude_outliers.data.frame)
export(exclude_outliers.exdf)
S3method(exclude_outliers, data.frame)
S3method(exclude_outliers, exdf)

# Convenience functions for plotting
export(barchart_with_errorbars)
export(bwplot_wrapper)
export(xyplot_avg_rc)
