# Functions for interacting with data files and `exdf` objects
export(check_licor_data)
export(choose_input_files)
export(choose_input_licor_files)
export(choose_input_tdl_files)
export(document_variables)
export(factorize_id_column)
export(get_oxygen_from_preamble)
export(identify_tdl_cycles)
export(organize_response_curve_data)
export(pair_gasex_and_tdl)
export(pdf_print)
export(process_id_columns)
export(process_tdl_cycle_erml)
export(process_tdl_cycle_polynomial)
export(read_gasex_file)
export(remove_points)
export(set_variable)
export(smooth_tdl_data)

# Functions for scientific analysis
export(apply_gm)
export(basic_stats)
export(calculate_arrhenius)
export(calculate_ball_berry_index)
export(calculate_c3_assimilation)
export(calculate_c3_limitations)
export(calculate_c4_assimilation)
export(calculate_fprime)
export(calculate_gamma_star)
export(calculate_gas_properties)
export(calculate_gm_busch)
export(calculate_gm_ubierna)
export(calculate_g_ratio)
export(calculate_isotope_discrimination)
export(calculate_iwue)
export(calculate_leakiness_ubierna)
export(calculate_ternary_correction)
export(calculate_total_pressure)
export(default_optimizer)
export(dpmn_error_jrv)
export(dpmn_error_jrvtt)
export(dpmn_error_jrv_tau)
export(dpmn_error_jrv_tpu)
export(estimate_operating_point)
export(fit_ball_berry)
export(fit_c3_aci)
export(fit_c3_vcmax)
export(fit_c4_aci)
export(fit_variable_j)
export(get_sample_valve_from_filename)
export(initial_guess_c3_aci)
export(initial_guess_c4_aci)
export(photosynthesis_TRF)
export(residual_stats)

# Basic methods for `exdf` class
export(as.data.frame.exdf)
export(by.exdf)
export(cbind.exdf)
export(dim.exdf)
export(dimnames.exdf)
export(exdf)
export(is.exdf)
export(length.exdf)
export(print.exdf)
export(rbind.exdf)
export(split.exdf)
export(str.exdf)
export(`dimnames<-.exdf`)
export(`[.exdf`)
export(`[<-.exdf`)
S3method(as.data.frame, exdf)
S3method(by, exdf)
S3method(cbind, exdf)
S3method(dim, exdf)
S3method(dimnames, exdf)
S3method(length, exdf)
S3method(print, exdf)
S3method(rbind, exdf)
S3method(split, exdf)
S3method(str, exdf)
S3method(`dimnames<-`, exdf)
S3method(`[<-`, exdf)
S3method(`[`, exdf)

# Functions for checking required columns
export(check_required_variables)
export(check_required_variables.data.frame)
export(check_required_variables.exdf)
S3method(check_required_variables, data.frame)
S3method(check_required_variables, exdf)

# Functions for getting identifier columns
export(identifier_columns)
export(identifier_columns.data.frame)
export(identifier_columns.exdf)
S3method(identifier_columns, data.frame)
S3method(identifier_columns, exdf)

# Convenience functions for identifying common columns
export(identify_common_columns)
export(identify_common_columns.data.frame)
export(identify_common_columns.exdf)
S3method(identify_common_columns, data.frame)
S3method(identify_common_columns, exdf)

# Convenience functions for consolidating nested lists
export(consolidate)
export(consolidate.data.frame)
export(consolidate.exdf)
S3method(consolidate, data.frame)
S3method(consolidate, exdf)

# Functions for excluding outliers
export(exclude_outliers)
export(exclude_outliers.data.frame)
export(exclude_outliers.exdf)
S3method(exclude_outliers, data.frame)
S3method(exclude_outliers, exdf)

# Convenience functions for plotting
export(barchart_with_errorbars)
export(bwplot_wrapper)
export(multi_curve_colors)
export(multi_curve_line_colors)
export(multi_curve_point_colors)
export(xyplot_avg_rc)

# Deprecated functions
export(read_licor_file)
export(read_tdl_file)
