export(add_gm_to_licor_data_from_table)
export(add_gm_to_licor_data_from_value)
export(add_licor_sheet)
export(avg_xyplot)
export(bar_wrapper)
export(basic_stats)
export(batch_extract_variables)
export(batch_get_genotype_info_from_licor_filename)
export(batch_get_oxygen_info_from_preamble)
export(batch_pair_licor_and_tdl)
export(batch_read_licor_file)
export(batch_read_tdl_file)
export(batch_specify_oxygen)
export(batch_specify_respiration)
export(batch_specify_variables)
export(box_wrapper)
export(calculate_ball_berry_index)
export(calculate_cc)
export(calculate_fprime)
export(calculate_gas_properties)
export(calculate_gm)
export(calculate_g_ratio)
export(calculate_iwue)
export(check_basic_stats)
export(choose_input_gm_table_file)
export(choose_input_licor_files)
export(choose_input_tdl_files)
export(choose_output_licor_file)
export(combine_exdf)
export(fit_ball_berry)
export(fit_c4_aci)
export(fit_variable_j_gjrttv)
export(fit_variable_j_gjrtv)
export(identify_tdl_cycles)
export(process_tdl_cycles)
export(read_gm_table)
export(sheet_name_from_file_name)
export(specify_variables)
export(write_excel_formula)

export(as.data.frame.exdf)
export(dim.exdf)
export(dimnames.exdf)
export(exdf)
export(is.exdf)
export(length.exdf)
export(print.exdf)
export(rbind.exdf)
export(set_column_info)
export(str.exdf)
export(`[.exdf`)
export(`[<-.exdf`)
S3method(as.data.frame, exdf)
S3method(dim, exdf)
S3method(dimnames, exdf)
S3method(length, exdf)
S3method(print, exdf)
S3method(str, exdf)
S3method(`[<-`, exdf)
S3method(`[`, exdf)
